#pane {
    -fx-background-image: url(../images/background.jpg);
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

.playerButton {
    -fx-font-size: 40;
}
.highlight-yellow {
    -fx-background-color: "yellow";
}

.highlight-blue {
    -fx-background-color: "#ADD8E6";
}

.highlight-red {
    -fx-background-color: "#FE6F5E";
}